
#home, .personal-details, .i-and-a, .projects{
    background-color: white;
    height: 500px;
    /* border-bottom: 5px solid black; */
}

.content h3{
    /* color:black; */
    padding-top:250px;
}
