/* .education{
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
} */
.education{
    padding-top:50px;
    padding-bottom: 50px;
    height: initial;
    justify-content: center;
    align-items: center;
    color:white;
    /* color:skyblue */
}

.edu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30vh;
    margin-top:10px;
    /* background-color: red; */

}
.column{
    /* background-color: rgb(128, 128, 128, 0.3); */
    /* background-image: linear-gradient(45deg, gray, white); */
    /* background-image: linear-gradient(purple, violet, pink);
    background-image: linear-gradient(200deg, black 45%, brown); */
    /* background-image: linear-gradient(pink,hsl(345, 92%, 43%), black); */
    /* background-image: linear-gradient(to right, #3C3B3F, #605C3C); */
    /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: rgba(0, 0 , 0, 0.9);
    box-shadow: 0px 16px 32px 0px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    /* transition: 0.5s; */
    width:100%;
    height: 100%;
    /* background-color: blue; */
}

text table td.sub, th{
    text-align: left;
}
.edu-container{
    position: relative;
}

.edu-container .overlay{
    position: absolute;
    overflow: hidden;
    opacity: 0;
    top:50%;
    left:50%;
    transform : translate(-50%, -50%);
    /* transition: opacity 1.5; */
}

/* .edu-container:hover .education{
    background-color: red;;
} */

.edu-container:hover .column{
    /* background-color: red; */
    transform: scaleX(-1);
    transition: 0.5s;
    background-image: linear-gradient(200deg, gray, white);
    /* color: black; */
}

.edu-container:hover p{
    display: none;
}
.edu-container:hover .overlay{
    opacity: 1;
    transition: 1.0s;
    color:black
}

/* .edu-container:hover .overlay{
    color:black
} */

.edu-container text li{
    padding:0px;
    text-align: left;
    margi
}


.column text{
    color: blue;
    overflow: hidden;
    white-space: nowrap;
}
/*clearfix hack*/
.education:after{
    content:"";
    display: table;
    clear: both;
}

@media (max-width:800px){
    .education{
        display: block;
    }
    .edu-container{
        width:80%;
        height: 30vh;
    }

    /* .edu-container:hover{
        box-shadow: 0px 8px 16px 0px gray;
        width: 85%;
        height: 32vh;
    } */



}

@media (min-width:801px){
    .education{
        display: flex;
    }
    .edu-container{
        width:25%;
        height: 40vh;
    }
    /*.edu-container:hover{
        box-shadow: 0px 8px 16px 0px gray;
        width: 30%;
        height: 42vh;
    }*/
}