#home{
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    padding-top:30px;
    padding-bottom: 30px;
}
home-content{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 90%;
    margin:auto;

}

#home img{
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
    box-shadow: 0px 8px 16px 4px gray;
    border: solid transparent;
    /* border-image: url("Pictures/images.jpg") 30% round; */
}

#home text{
    padding-left:30px;
    display: block;
    /* background-color: brown; */
}
#home a{
    text-align: justify;
    /* color:white; */
    color:black;
    text-decoration: none;
}

text a #lastline{
    font-style: italic;
    font-weight: bold;
}

#home-dropdown-content{
    display:block;
    font-size: 1vw;
    text-align: left;
    position: absolute;
    margin-top:10px;
    background-color: gray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 16px;
    z-index: 1;
    transition: 0.3s;
    opacity: 0;
    /* min-width: 160px; */
    
}
text:hover #home-dropdown-content{
    /* display: block; */
    /* transition: 0.5s; */
    opacity: 1;
}


@media (max-width:500px){
    home-content{
        display: block;
        font-size: 1em;
    }
    text{
        margin-top:20px;
        text-align: center;
    }
    #home-dropdown-content{
        left:37%;
    }

}

@media (min-width:501px){
    home-content{
        display: flex;
        font-size:1.5vw;
    }
    text{
        text-align: justify;
    }
}
