#timeline{
    position: relative;
    top:-5.5px;
}

#labyrinth{
    text-shadow: 2px 2px 4px skyblue;
    letter-spacing: -2px;
    font-style: normal;
    color:cornsilk;
    position: absolute;
    right: 43%;
    transition: 1s;
}

#labyrinth::after{
    content:".";
    opacity: 0;
    font-style: italic;
    letter-spacing: 2px;
    color:white;
}
.heading:hover #labyrinth::after{
    opacity: 1;
    transition: linear 1s;
}

#heading-text{
   position: absolute;
   left: 26%;
}
.heading:hover #labyrinth{
    transition: linear 0.5s;
    right: 25%;
    
}
.heading:hover #heading-text{
    text-shadow: 2px 2px 2px lightblue;
    transition: 1.2s;
    color:whitesmoke;
}
