#timeline{
    position: relative;
    top:-5.5px;
}

#labyrinth{
    text-shadow: 2px 2px 4px skyblue;
    letter-spacing: -2px;
    font-style: normal;
    color:cornsilk;
    position: absolute;
    right:50%;
}
.heading:hover #labyrinth{
    transition: linear 0.5s;
    right: 24%;
    
}
.heading:hover #heading-text{
    text-shadow: 2px 2px 2px lightblue;
    transition: 1s;
    color:whitesmoke;
}
