#timeline{
    position: relative;
    top:-5.5px;
}

#labyrinth{
    text-shadow: 2px 2px 4px skyblue;
    letter-spacing: -2px;
    font-style: normal;
    color:cornsilk
}

#heading-text:hover{
    text-shadow: 2px 2px 2px lightblue;
    transition: 0.5s;
    color:whitesmoke;
}