*{
    text-align: center;
    font-family: sans-serif;
    box-sizing: border-box;
    margin:auto;
    color:white;
}
.main-heading{
    background-color: black;
    width: 100%;
    height: 50vh;
    padding-top:20vh;
    font-family: "consolas", monospace;
    font-size:4.0vw;
}


.content{
    background-color: lightgrey;
    height: 500px;
    border-radius: 10px;
}

