
.main-heading{
    background-color: black;
    /* background-image: linear-gradient(skyblue,royalblue, blue, darkblue, rgb(0, 0, 0, 0.9)); */
    /* background-image:linear-gradient( rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 1.0)); */
    background-image: url(Pictures/waterfall1.jpg);
    background-position: top left;
    background-size: cover;
    /* filter: blur(1px); */
    width: 100%;
    height: 90vh;
    font-family: "consolas", monospace;
    position: relative;
    /* padding-top: 12.5vh; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* background: url("Pictures/heading2.jpg") center top no-repeat; */
    /* background: url("Pictures/heading2.jpg") ;
    background-size: cover;
    position: relative; */
}
.heading{
    box-sizing: border-box;
    height: 45vh;
    width: 50%;
    /* background-color: red; */
    /* margin:auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#labyrinth{
    text-shadow: 4px 4px 4px skyblue;
    letter-spacing: -2px;
    font-style: normal;
    color:white;
    position: absolute;
    right: 38%;
    /* transition: 0.9s; */
    text-align: center;
    font-size: 5vw;

    /* transition: linear 10s; */
    transition : linear 0.3s, transform 0.5s;
}

#labyrinth::after{
    content:".";
    opacity: 0;
    font-style: italic;
    letter-spacing: 2px;
    color:white;
}
.heading:hover #labyrinth::after{
    opacity: 1;
    transition: linear 1s;
    font-size:4.0vw;
}

#heading-text{
    opacity:0;
    position: absolute;
    left: 26%;
    text-shadow: 2px 2px 2px lightblue;
    color:white;
    font-style: italic;
}
.heading:hover #labyrinth{
    transition: linear 0.3s;
    right: 25%;
    font-size:4.0vw;
    /* transition-timing-function: ease-in; */
    transform: skewX(-15deg);
    
}
.heading:hover #heading-text{
    transition: 1.5s;
    opacity: 1;
    font-size:4.0vw;
}
