$mar : 10px;
$headingFont: 40px;

header{
    background-color: teal;
    border: 20px solid skyblue;
    padding-top: 40px;
    // font-family: sans-serifs;
    font: outline;
    font-family: consolas;
    font-weight: bold;
    text-align: center;
    font-size: $headingFont;
    height: 80px;
}
body{
    // margin: $mar;
    margin: $mar;
    color: white;
    text-shadow: black;

}

@media (min-width:650px) {
    header::before{
        content: "Welcome, to my labyrinth!";
    }
}

@media (max-width:649px){
    
    header::before{
        content: "Welcome!";
    }
}