.navigation{
    background-color: rgb(0, 0, 0, 0.9)
}
.menu{
    overflow: hidden;
    color:white;
}
.navigation a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navigation li a.menu-content, li a.menu-icon{
    float: right;
}

.navigation .nav-name{
    float:left;
}

.menu .menu-icon{
    display:none;
}

.menu .menu-content:hover{
    background-color: rgb(0,0,0, 0.3);
    transition: 0.3s;
}

.menu ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: auto;
}

@media screen and (max-width:920px){
    .menu .menu-icon{
        display: block;
    }
    .menu .menu-content{
        /* display: block; */
        display: none;
        float:none;
        min-width: 160px;
        /* text-align: right; */
    }
   
}


