.navigation{
    position: sticky;
    top: 0;
}
.navigation ul{
    list-style-type: none;
    background-color: gray;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation li{
    float:left;
    /* border: 2px solid rgb(228, 15, 15); */
    border-collapse: collapse;
}

.navigation li > a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover:not(.active){
    background-color: #111;
    transition: 0.3s;
}

.active{
    background-color: rgb(0, 0, 0, 0.5);
}
