header{
    background-color: teal;
    /* width:100%; */
    height: 100px;
    margin: 20px;
    margin-right: 20px;
    padding-top : 50px;
    /* padding: 50px; */
    text-align: center;
    /* align-items: center;
    align-self: center; */
    border: 2px solid black;
}
.details{
    background-color: green;
    height: 100px;
    margin: 20px;   
    margin-right: 20px;
    padding: 20px;
    text-align: center;

}

.country{
    background-color: skyblue;
    height: 100px;
    margin: 20px;   
    margin-right: 20px;
    padding-top: 50px;
    text-align: center;
}

input[type=password]{
    background-color: blue;
}

button{
    background-color: teal;
    font-size: 24px;
    border: 2px solid;
    text-align: center;
    display: flex;
    margin: 0 auto;
    

}
.submit{
    background-color: teal;
    font-size: 24px;
    border: 2px solid;
    text-align: center;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
button:hover{
    background-color: gray;
}

nav{
    background-color: teal;
    /* width:100%; */
    height: 20px;
    margin: 20px;
    margin-right: 20px;
    padding-top : 10px;
    text-align: center;
    border: 2px solid black;

}
